<script setup>
/* eslint-disable */
</script>

<template>
  <div>
    <div class="card">
      <div class="border-b pb-2">
        <p class="font-semibold tracking-wide text-xl">
          Guide
        </p>
      </div>
      <div class="mt-3">
        <p>
          1. Clone/Download the repository from 
          <a href="https://gitlab.com/syamim/smart-home-board"
            class="text-amber-600"
          >
            here.
          </a>
        </p>
        <p>
          2. Create a 
          <a href="https://console.firebase.google.com/"
            class="text-amber-600"
          >
            firebase
          </a>
          account and create a project. This project will be used as the database and the authentication for your device
        </p>
        <p>
          3. Go to realtime database. Take note the <span class="font-semibold">Database URL</span> because it will be used later
        </p>
        <p>
          4. Go to authentication. Enable <span class="font-semibold">Email/Password</span> authentication method
        </p>
        <p>
          5. Go to project setting. Take note the <span class="font-semibold">Web API Key</span>  because it will be used later
        </p>
        <p>
          6. Fill the form below with respective information on where the board will be placed 
          <a href="https://gitlab.com/syamim/smart-home-board"
            class="text-amber-600"
          >
            here.
          </a>
        </p>
        <p>
          7. Create file named 
          <span class="font-semibold">secrets.h</span> 
          and store it in the <span class="font-semibold">include</span> folder. 
          Copy the code generated and place it in the 
          <span class="font-semibold">secrets.h</span>
        </p>
        <p>
          8. Upload the code into your board
        </p>
      </div>
    </div>
  </div>
</template>
