<script setup>
</script>

<template>
  <div>
    <div class="flex justify-between items-align-center py-3 px-4 text-center">
      <div class="text-zinc-600 p-1">
        <div class="rounded-lg bg-amber-200 p-5 text-amber-600">
          <vue-feather type="home"/>
        </div>
        <p class="font-semibold pt-2 tracking-wide">Living Room</p>
      </div>
      <div class="text-zinc-600 p-1" v-for="i in 3" :key="i">
        <div class="rounded-lg bg-white p-5 text-zinc-400">
          <vue-feather type="home"/>
        </div>
        <p class="font-semibold pt-2 tracking-wide">Living Room</p>
      </div>
    </div>
  </div>
</template>