<template>
  <div>
    <div class="flex justify-between items-align-center py-3 px-4">
      <div>
        <span class="w-10 h-10 bg-zinc-300 rounded-full"></span>
        <img src="https://placehold.co/600x400" alt="" class="w-12 h-12 bg-zinc-300 rounded-full">
      </div>
      <p class="my-auto font-semibold tracking-wider">Welcome, Abu!</p>
      <div class="my-auto">
        <button type="button" class="bg-white rounded-full w-10 h-10 pt-1">
          <vue-feather type="menu" class="text-zinc-400 font-bold"></vue-feather>
        </button>
      </div>
    </div>
  </div>
  <!-- <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>
  </nav> -->
</template>