<template>
  <div class="fixed bottom-0 w-full bg-white py-3 px-2 rounded-t-lg ">
    <div class="flex">
      <div class="w-1/5 text-center text-amber-500 bg-amber-200 pt-3 rounded-full">
        <vue-feather type="home"/>
      </div>
      <div class="w-1/5 text-center text-zinc-300 pt-3" v-for="i in 4" :key="i">
        <vue-feather type="home"/>
      </div>
    </div>
  </div>
  <!-- <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>
  </nav> -->
</template>