@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-zinc-800
}
#app-content{
  padding: 0 0.75rem;
}

.card{
  @apply py-3 px-4 bg-white rounded-lg;
}
label{
  @apply tracking-wider font-semibold text-sm pl-2;
}
input{
  @apply mb-4 block w-full rounded-full border py-1.5 px-3 text-gray-900 placeholder:text-gray-400 border-zinc-300;
}
.btn{
  @apply rounded-full py-2 px-6 tracking-wide font-semibold;
}
.btn-success{
  @apply text-white bg-emerald-600 hover:bg-emerald-200 hover:text-emerald-600 hover:border-emerald-600 hover:border;
}
.btn-primary{
  @apply bg-yellow-400 hover:bg-yellow-200 hover:border-yellow-400 hover:border hover:bg-yellow-200;
}
.btn-unknown{
  @apply border border-zinc-600 bg-white hover:bg-zinc-600 hover:text-white hover:border-zinc-600 ;
}

.text-secondary{
  @apply text-gray-500;
}